<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Disks</title>
</head>
<meta name="viewport" content="width=device-width, maximum-scale=10">
<body>
There are {{ devices_count }} devices <br>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Mount</th>
        <th>Actions</th>
    </tr>
    {% for d in devices %}
    <tr>
        <td>{{ d.name }}</td>
        <td>{{ d.size }}</td>
        {% if d.mount %}
        <td><a href="/ls/{{ d.link }}">{{ d.mount }}</a></td>
        <td><a href="/unmount/{{ d.name }}">Unmount</a></td>
        {% else %}
        <td></td>
        <td><a href="/mount/{{ d.name }}">Mount</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% if last_executed_command %}
Last executed command: {{ last_executed_command }} <br>
Response: {{ last_executed_command_errcode }} {{ last_executed_command_response }}
{% endif %}

</body>
</html>